*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
  overflow: hidden;
}
.loading{
  width: 100%;
  text-align: center;
}

.inputControl{
    border: 1px solid #eee;
    background-color: #ffffff;
}
.inputControl:hover, .inputControl:focus{
    border: 1px solid #7600eb;
}
.inputBtn{
    border: none;
    background-color: #7600eb;
    color: #ffffff;
    font-weight: bolder;
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    cursor: pointer;
}
.inputControl, .inputBtn{
    height: 50px;
    width: 100%;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 14px;
}
.mb{
    margin-bottom: 20px;
}
.ml{
  float: right;
  margin: auto 0;
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ececec;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  